<h1>Cart</h1>
<% if @items.empty? %>
  <p>Your cart is empty</p>
<% end %>

<%= render partial: '/partials/items_cart_order_table',
            locals: { cart_path: true,
                      footer_row: 7,
                      items: @items,
                      orders_path: false}%>

<table>
  <tr>
    <td id="grand-total">Grand Total: <%= number_to_currency(cart.grand_total) %></td>
  </tr>
</table>

<% if !@items.empty? %>
  <%= link_to "Empty Cart", "/cart/empty", method: :delete %>
  <%= button_to "Checkout", "/orders/new", method: :get %>
<% end %>
