<h1>Checkout</h1>

<%= render partial: '/partials/items_cart_order_table',
            locals: { cart_path: false,
                      footer_row: 5,
                      items: @items,
                      orders_path: false,
                      cart_new_path: true,}%>

<table>
  <tr>
    <td id="grand-total">Grand Total: <%= number_to_currency(cart.grand_total) %></td>
  </tr>
</table>
  <center>
    <%= render partial: "partials/new_form",locals: {path: "/orders", method: :post, button: 'Create Order'} %>
  </center>
